*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body{
  background-color: rgb(216, 221, 226);
}

.main-container{
  width: 500px;
  margin: 7rem auto 0;
  background-color: #fff;
  border-radius: 10px;
}